<div class="user_page">
  <header class="user_page-header">
    <div class="yjContainer">
      <a href="">
        <div class="user_image"><%= image_tag current_user.avatar %>
        </div>
        <h2><%= current_user.nickname %> <span>さんのマイページ</span></h2>
      </a>
    </div>
  </header>
  <div class="pt1em pb1em" id="contents">  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <ul class="user_page-contents">
        <% @reviews.each do |review| %>
          <li style="background-image: url(<%= review.product.image_url %>)"  >
            <div class="meta">
              <header>
                <div class="title"><%= review.product.title %></div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-<%=  review.rate %>0"></i></span></span>
              </header>
              <div class="user_review"><%= review.review %></div>
            </div>
            <% if user_signed_in? && current_user.id == review.user_id %>
                <p class="text-small" style="float: right">
                <%= link_to '削除',"/products/#{review.product_id}/reviews/#{review.id}", method: :delete %>
                </p>
                <p class="text-small" style="float: right">
                <%= link_to '編集',"/products/#{review.product_id}/reviews/#{review.id}/edit", method: :get %>
                </p>
            <% end %>
          </li>
          <% end %>
        </ul>
        <%= paginate(@reviews) %>
      </div>
    </div>
  </div>