  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="icon-movie color-gray-light"></i><%= @product.title %>
                </h2>
              </header>
              <p style="text-align: center">
                <img src="<%= @product.image_url %>" alt="<%= @product.title %>" width ="360" height = "300" >
              </p>
              <div style="text-align: right">
                <a href="/products/<%= @product.id %>/reviews/new">この作品を投稿する</a>
              </div>
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="icon-movie color-gray-light"></i>みんなのレビュー
                </h2>
              </header>
              <ul style="padding: 0">
              <% @product2.each do |review| %>
                <li style="border-bottom: dotted 1px">
                  <div class="thumbnail__caption">
                    <h3 class="text-xsmall text-overflow" title="<% review.user.nickname %>">
                      <%= review.user.nickname %><small 2014=""></small>
                    </h3>
                    <p class="text-small">
                      
                      <span class="rating-star"><i class="star-actived rate-<%= review.rate %>0"></i></span>
                    
                    </p>
                    <p>
                      <%= review.review %>
                    </p>
                  </div>
                  <!--  いいねボタン実装予定 -->
                  <%= render partial: "likes/like", locals: { review: review } %>
                  <!-- 編集・削除機能追加 -->
                  <% if user_signed_in? && current_user.id == review.user_id %>
                      
                      <p class="text-small" style="float: right">
                      <%= link_to '削除',"/products/#{review.product_id}/reviews/#{review.id}", method: :delete %>
                      </p>
                      <p class="text-small" style="float: right">
                      <%= link_to '編集',"/products/#{review.product_id}/reviews/#{review.id}/edit", method: :get %>
                      </p>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
          </article>
          <%= paginate(@product2) %>
        </div>
        <div id="yjSub">